body{
font-family: Arial;
background: linear-gradient(to right,#141e30,#243b55);
margin:0;
color:white;
text-align:center;
}

.container{
background:white;
color:black;
padding:40px;
border-radius:10px;
width:400px;
margin:auto;
margin-top:100px;
}

.container2{
width:90%;
margin:auto;
margin-top:40px;
}

table{
width:100%;
border-collapse:collapse;
background:white;
color:black;
}

th{
background:#0f2027;
color:white;
padding:12px;
}

td{
padding:10px;
border-bottom:1px solid #ddd;
}

tr:hover{
background:#f5f5f5;
}

.btn{
display:inline-block;
margin-top:20px;
padding:10px 20px;
background:#ff4b2b;
color:white;
text-decoration:none;
border-radius:5px;
}